/*
-phone
-tab-port
-tab-land
-big-land
*/
.parallax__container {
  width: 100%;
  background-image: url("/img/img-4.jpg");
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  height: 61rem; }
  .parallax__container__content {
    color: #f0f0f0;
    width: 65rem;
    height: inherit;
    background: linear-gradient(to right, rgba(44, 50, 58, 0.9), rgba(30, 35, 61, 0.4));
    position: absolute;
    top: 0;
    left: 0; }
  .parallax__container__block {
    padding: 5rem 5rem;
    font-size: 1.8rem; }
    .parallax__container__block h1 {
      text-transform: uppercase; }
    .parallax__container__block p {
      padding-top: 2rem;
      font-weight: 350; }

.course__packet__section {
  padding: 7rem 0 7rem 0;
  background-color: #F1F1F1; }
  .course__packet__section .container {
    width: 100%; }
    .course__packet__section .container .left__section {
      width: 90rem;
      text-align: center;
      display: inline-block;
      transform: translateY(5rem); }
      .course__packet__section .container .left__section img {
        width: 50%;
        height: auto;
        transform: rotate(90deg); }
    .course__packet__section .container .right__section {
      width: 40rem;
      display: inline-block;
      vertical-align: top;
      font-size: 1.8rem;
      line-height: 3rem;
      color: #444; }
      .course__packet__section .container .right__section h2 > i {
        padding-right: 1rem; }
      .course__packet__section .container .right__section input:not(:last-child) {
        display: block;
        width: 100%;
        height: 3.5rem;
        margin-bottom: 1rem; }

.bootcamp__advantage__container {
  padding: 4rem 10rem;
  background-color: #25242F;
  height: 100rem; }
  .bootcamp__advantage__container .description__container {
    color: #f0f0f0;
    font-size: 1.7rem;
    width: 80rem;
    margin: 0 auto;
    line-height: 2.4rem;
    font-weight: 350;
    text-align: center; }
    .bootcamp__advantage__container .description__container h3 {
      font-size: 4.5rem; }
  .bootcamp__advantage__container .bootcamp__content {
    margin-top: 5rem;
    text-align: center; }
  .bootcamp__advantage__container .left__container {
    width: 80rem;
    color: #f0f0f0;
    text-align: left;
    display: inline-block;
    vertical-align: top; }
    .bootcamp__advantage__container .left__container .bootcamp__advantage__block {
      width: 34.5rem;
      height: 34rem;
      border: 1px solid #f0f0f0;
      margin-bottom: 7rem;
      margin-right: 1px;
      display: inline-block;
      vertical-align: top;
      margin-right: 4rem; }

.right__container {
  color: #444;
  width: 40.92rem;
  display: inline-block;
  height: 75.4rem;
  background-color: #fff;
  text-align: left; }
  .right__container img {
    width: 100%;
    height: auto; }
  .right__container .icon__search {
    font-size: 8rem;
    -webkit-background-clip: text;
    color: transparent;
    background-color: #089cd6; }

.description__content {
  padding: 2rem 4rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  position: relative; }
  .description__content h3 {
    font-weight: 800; }
  .description__content .icon__block {
    position: absolute;
    top: -2.5rem;
    left: 1rem;
    font-size: 5rem;
    -webkit-background-clip: text;
    color: transparent;
    background-color: #089cd6;
    z-index: 10; }

.row {
  width: 121.92rem;
  margin: 7rem auto; }
  .row:after {
    content: "";
    clear: both;
    display: table; }
  .row .col-1-of-3 {
    width: 37.3rem;
    float: left; }
    .row .col-1-of-3:not(:last-child) {
      margin-right: 5rem; }

.content__icon {
  font-size: 6rem; }

.statistic__details {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.4rem; }
  .statistic__details .context {
    color: #089cd6;
    font-weight: 400;
    text-decoration: none; }
    .statistic__details .context:hover {
      text-decoration: underline; }
  .statistic__details .footnote {
    font-style: italic;
    font-size: 1.6rem;
    color: #AAA;
    margin-bottom: 4rem; }

.top__resources {
  list-style: none;
  font-size: 2rem;
  border-left: 1px solid #e2e2e2; }
  .top__resources li {
    line-height: 6rem;
    color: #333;
    font-weight: 380; }
    .top__resources li:hover {
      color: #089cd6; }
    .top__resources li:nth-child(2) {
      color: #089cd6; }
    .top__resources li:not(:first-child):not(:last-child):after {
      content: "";
      display: block;
      border-bottom: 1px solid #e2e2e2;
      width: 80%; }
  .top__resources li:first-child {
    font-weight: 600;
    font-size: 3rem; }

html {
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  margin: 0 auto;
  font-family: "Lato";
  max-width: 100%; }

.bootcamp__plans {
  width: 151.92rem;
  height: 50rem;
  text-align: center;
  color: #f0f0f0;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Libre Franklin"; }
  .bootcamp__plans:after {
    content: "";
    clear: both;
    display: table; }
  .bootcamp__plans__x {
    position: relative;
    transition: .4s ease; }
    .bootcamp__plans__x:hover {
      color: #2c323a; }
    .bootcamp__plans__x__general {
      position: absolute;
      top: 40%;
      left: 10%; }
  .bootcamp__plans__1 {
    width: 75.5rem;
    height: 50rem;
    float: left;
    background-image: linear-gradient(to right, rgba(44, 50, 58, 0.4), rgba(30, 35, 61, 0.4)), url(https://cdn2.codingdojo.com/new_design_image/onsite_bootcamp/onsite-bootcamp-splash.jpg);
    background-size: cover;
    margin-left: 1px;
    clip-path: polygon(0 7%, 100% 17%, 100% 100%, 0 100%); }
  .bootcamp__plans__2 {
    width: 75.96rem;
    height: 50rem;
    float: right;
    background-image: linear-gradient(to right, rgba(44, 50, 58, 0.5), rgba(30, 35, 61, 0.5)), url(/img/img-2.jpeg);
    background-size: cover;
    clip-path: polygon(0 17%, 100% 7%, 100% 100%, 0 100%); }

.header__btn a {
  color: #f0f0f0;
  font-size: 1.7rem;
  text-decoration: none;
  display: inline-block;
  border: 1px solid;
  padding: 1rem 7rem; }

.header__btn__blue {
  background-color: #089cd6; }
  .header__btn__blue:hover {
    background-color: #337ab7; }

.header__btn__dark:hover {
  background-color: #353835;
  opacity: 0.6; }

.learn__more {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1.6rem;
  border: 1px solid;
  padding: .7rem 5rem;
  background-color: #089cd6; }
  .learn__more:hover {
    background-color: #337ab7; }

.apply__now {
  text-decoration: none;
  color: #f0f0f0;
  background-color: #089cd6;
  padding: .5rem 5rem;
  font-size: 2rem; }
  .apply__now:hover {
    background-color: #337ab7; }

.submit {
  padding: 1rem 5rem;
  border: none;
  background-color: #089cd6;
  color: #fff;
  font-size: 1.6rem; }
  .submit:hover {
    background-color: #337ab7; }

.header {
  background-blend-mode: screen;
  background-image: linear-gradient(to right, #2c323a, #1e233d), url(https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7325bf88e191e71e966ec0b260d2d91b&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  padding: 27rem 0;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  position: relative; }
  .header__block {
    display: inline-block;
    position: absolute;
    color: #f0f0f0;
    width: 40rem;
    top: 0;
    left: 60%; }
    .header__block h2 {
      font-size: 6.5rem;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 0;
      margin-top: 3rem; }
    .header__block h3 {
      font-size: 4rem;
      font-weight: 400;
      margin-top: 3rem;
      margin-bottom: 1.5rem; }

main {
  width: 100%;
  background-color: #fff;
  margin-top: -5rem;
  display: border-box; }
  main .header__statistic__map {
    background-color: #F4F4F4;
    width: 55%;
    height: 75rem;
    margin: 0;
    float: left; }
    main .header__statistic__map__container {
      text-align: center;
      padding-top: 10rem; }
      main .header__statistic__map__container h1 {
        font-size: 3rem;
        font-weight: 400; }
    main .header__statistic__map ul {
      list-style: none; }
      main .header__statistic__map ul li {
        font-size: 2rem;
        color: black;
        display: inline-block;
        margin-right: 4rem;
        font-weight: 300; }
        main .header__statistic__map ul li p {
          margin-bottom: 1rem; }
        main .header__statistic__map ul li h3 {
          color: #089cd6;
          font-size: 3.5rem;
          margin: 0;
          font-weight: 800; }
    main .header__statistic__map .map__image {
      text-align: center;
      transform: translateY(5rem); }
      main .header__statistic__map .map__image__usa {
        width: 80%;
        height: auto; }
    main .header__statistic__map .last__paragraph {
      color: #d6d3d3;
      font-size: 1.5rem; }
  main .side__details {
    width: 30%;
    float: left; }

main:after {
  content: "";
  clear: both;
  display: table; }

nav {
  width: 100%;
  height: 5rem;
  background-color: #1f2022;
  padding: .5rem 0;
  color: #f0f0f0;
  font-size: 1.7rem; }
  nav .menu {
    float: right;
    margin: 1.4rem 3rem;
    vertical-align: middle;
    font-size: 2rem; }
    nav .menu a {
      text-decoration: none;
      color: #f0f0f0;
      border: 1px solid;
      padding: .5rem 2rem; }
    nav .menu .dark__btn:hover {
      background-color: #353835; }
    nav .menu .blue__btn {
      background-color: #089cd6; }
      nav .menu .blue__btn:hover {
        background-color: #337ab7; }
  nav ul {
    list-style-type: none;
    display: inline; }
    nav ul li {
      display: inline-block;
      margin: 2rem;
      font-weight: 700; }

.side__details {
  padding-top: 13rem;
  margin-left: 5rem; }
  .side__details .icon__book {
    font-size: 5rem; }
  .side__details__info {
    margin-top: 2.5rem;
    width: 75%; }
    .side__details__info h4 {
      font-size: 2.5rem; }
    .side__details__info p {
      font-size: 1.9rem;
      font-weight: 300;
      line-height: 2.8rem; }
