$color-white:#f0f0f0;
$color-dark-black:#1f2022;
$color-white-original:#fff;
$color-black:rgb(0, 0, 0);

$color-light-grey:#F4F4F4;
$color-dark-grey:rgb(53, 56, 53);
$color-light-blue:rgb(8, 156, 214);
$color-light-blue-2:#337ab7;

$color-dark-blue:#1e233d;
$color-pearl:#2c323a;
