.side__details{
    padding-top:13rem;
    margin-left:5rem;

.icon__book{
    font-size: 5rem;
}

&__info{
    margin-top:2.5rem;
    width:75%;
h4{
    font-size:2.5rem;
}

p{
    font-size:1.9rem;
    font-weight:300;
    line-height:2.8rem;
}
}
}